
.row {
	width: 300%
}
.col-sm-4 {
	width: 1000%;
	font-family:Palatino Linotype;
}
.center-container {
	border: 3px solid #ddd;
	 background-color: rgba(0, 0, 0, 0);
	 background: rgba(245, 245, 245, 0.7) url("img/whiteimage.jpg") no-repeat center center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
}
h2 {
	font-family:Book Antiqua;
}
h4 {
	font-family:Book Antiqua;
	position:obsolute;
	align:center;
}
.checkbox-inline {
	padding-right:65px;

}
.user {
	float:left;
}
.radio-inline {
	padding-right:65px;
}

      

    }
